@import "variables";

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Comfortaa', cursive;
}

body {
  background-color: $main-color;
}

.container {
  position: relative;
  width: 1440px;
  height: 100vh;
  margin: 0 auto; 
  color: $white;
}

@import "nouislider/dist/nouislider";
@import "blocks/header";
@import "blocks/main";
@import "blocks/footer";
@import "blocks/sliders";
@import "blocks/modal";
@import "blocks/animations";