@import "variables";

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Comfortaa', cursive;
}

body {
  background-color: $main-color;
}

.container {
  position: relative;
  min-height: 100vh;
  color: $white;
}

.main-container {
  width: 1410px;
  margin: 0 auto;
  padding: 0 5px;
}

.additional-height {
  width: 100%;
  height: 100px;
}

@import "nouislider/dist/nouislider";
@import "blocks/header";
@import "blocks/start";
@import "blocks/toys";
@import "blocks/tree";
@import "blocks/garland";
@import "blocks/footer";
@import "blocks/sliders";
@import "blocks/modal";
@import "blocks/animations";
@import "blocks/media";