.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 10px;
  &-link {
    img {
      height: 60px;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &-dev {
    display: flex;
    column-gap: 30px;
    font-size: 20px;
    a {
      text-decoration: none;
      color: $white;
      transition: color 0.3s;
      &:hover {
        color: $blue;
      }
    }
  }
}