@media (max-width: 1439px) {
  .header {
    width: 964px;
    padding: 0 5px;
  }
  .footer {
    width: 964px;
    padding: 0 5px;
  }
  .controls {
    flex-wrap: wrap;
    row-gap: 20px;
    &-item {
      width: 600px;
    }
  }
  .filters {
    width: 420px;
    order: 1;
  }
  .sort {
    width: 420px;
    order: 2;
  }
  .range {
    order: 3;
    margin: 0 auto;
  }
  .noUi-target {  
    width: 380px;
  }
  .cards {
    column-gap: 15px;
    .card {
      width: 290px;
      row-gap: 10px;
      &-img {
        width: 80px
      }
      &-description {
        width: 200px;
        p {
          column-gap: 5px;
        }
      }
    }
  }
}
@media (max-width: 1023px) {
  .header {
    width: 728px;
    padding: 0 5px;
  }
  .footer {
    width: 728px;
    padding: 0 5px;
  }
  .start {
    width: calc(100wv - 20px);
  }
  .controls {
    flex-wrap: wrap;
    row-gap: 20px;
    &-item {
      width: 600px;
      margin: 0 auto;
    }
  }
  .sort {
    height: 250px;
    &-select {
      background-position: 560px center;
    }
  }
  .cards {
    column-gap: 30px;
    .card {
      width: 325px;
      &-description {
        width: 210px;
        p {
          column-gap: 10px;
        }
      }
      &-img {
        width: 90px
      }
    }
    &-error {
      font-size: 32px;
    }
  }
}